


/*
 Side menu
*/
.side_menu{
    background-color: white;
    color:black;

    width: 20vw;
    height:100vh;

    position: relative;
}

input.side_menu_search{
    width: 100%;
    height: 35px;
   
    border:0px;
    border-radius: 2px;
    
    position: absolute;
    top:5px;
    left:0px;

    z-index: 5;
    
    padding-left: 10%;

    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2017.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-//W3C//DTD%20SVG%201.1//EN%22%20%22http%3A//www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd%22%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22icons%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%0D%0A%09%20width%3D%2218px%22%20height%3D%2217.8px%22%20viewBox%3D%220%200%2018%2017.8%22%20style%3D%22enable-background%3Anew%200%200%2018%2017.8%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cstyle%20type%3D%22text/css%22%3E%0D%0A%09.st0%7Bfill%3A%239F9E9F%3B%7D%0D%0A%3C/style%3E%0D%0A%3Cpath%20class%3D%22st0%22%20d%3D%22M17.4%2C15.1l-3.8-3.8c0.7-1.1%2C1.2-2.5%2C1.2-3.9c0-4-3.3-7.3-7.3-7.3c-4%2C0-7.3%2C3.3-7.3%2C7.3c0%2C4%2C3.3%2C7.3%2C7.3%2C7.3%0D%0A%09c1.4%2C0%2C2.8-0.4%2C3.9-1.2l3.8%2C3.8c0.3%2C0.3%2C0.7%2C0.5%2C1.1%2C0.5c0.4%2C0%2C0.8-0.2%2C1.1-0.5C18%2C16.7%2C18%2C15.7%2C17.4%2C15.1z%20M2.2%2C7.4%0D%0A%09c0-2.9%2C2.3-5.2%2C5.2-5.2c2.9%2C0%2C5.2%2C2.3%2C5.2%2C5.2c0%2C2.9-2.3%2C5.2-5.2%2C5.2C4.6%2C12.6%2C2.2%2C10.2%2C2.2%2C7.4z%22/%3E%0D%0A%3C/svg%3E%0D%0A');
    background-position: 2% 50%;
    background-repeat: no-repeat;

    font-weight: 300;
    font-size: .875em;
}

.sub_menu_center{
    text-align: center;
    width:100%;

    padding-top:10px;
    padding-bottom:10px;

}


/* city screen */

.city ul{
    list-style-type: none;
}

.city_image{
    height: 40vh;
    max-height: 250px;
    background-color: #ccc5b8;
    position: relative;
}

.city_image embed{
    width:100%;
    height:100%;
    pointer-events: none;

    position: absolute;
    top:0;
    left:0;

    z-index: 3;
}


.city_image i{
    position: absolute;
    bottom: 0px;
    right:0px;
    padding:2px;

    z-index: 4;
    opacity: 0;
}

.city_image:hover  i{
    opacity: 1;
}

.city_info{
    padding: 10px;
    font-size: 13px;
}
.city_info li{
    border-bottom: 1px dotted gray;
}
.city_info li:last-child {
    border:none;
}

.city_info .info{
    font-size: 13px;
    font-weight: 200;                           
}
.city_info .info i{
    font-size: 13px;
    font-weight: 200;      
}
.city_info .info_special{
    padding-top:5px;
}
.city_info .info_special i{
    font-size: 26px;
}


/* button */
.button.round {
    font-size:25px;

    width:36px;
    height:36px;
    border-radius: 38px;
    text-align: center;
    vertical-align: middle;
    line-height: 36px;
    
    cursor: pointer;

    color:#1A73E8;
    border:solid 1px #1A73E8;
}
.button.round:hover{
    background-color:#1A73E8;
    color:white;
}
